@charset "utf-8";

* { margin: 0; padding: 0; border: 0; font-size: 100%; }


.body {
	
background-image: url("../image/wallpaper-patter.jpg")
	
}


.myheader {
	font-family: 'Josefin Sans', sans-serif;
	width: 700px;
	height: 234px;
	background-color: #EA6D1E;
	background-image: url("../images/city.png");
	margin: auto;
	
}



.bunny {
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}

.mycontent{
	
	font-family: 'Josefin Sans', sans-serif;
	width: 700px;
	height: 300px;
	background-color:#DDBFD9;
	margin-left: auto;
	margin-right: auto;
	

}

.myfooter {
	font-family: 'Josefin Sans', sans-serif;
	background-color: antiquewhite;
	width: 700px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
